
/* Sección de Pedidos */

.inventory-buttons button{
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Relleno alrededor del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima */
  text-decoration: none; /* Sin subrayado */
  margin: 0 2px 30px; /* Margen entre los botones */
  border-radius: 5px; /* Bordes redondeados */
  

}

.add-button {
  background-color: #38b33c; 
}

.edit-button {
  background-color: #2f7890; 
  
}

.detalle-button {
  background-color: #c1d014; 
  
}

.detail-button:hover {
  background-color: #429862; 
}

.edit-button:hover {
  background-color: #218838;
}